<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jonty.garagenetwork">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GarageNetwork">
        <activity
            android:name=".ChoosePerson"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Setting"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerifyOTP"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetPin"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SendOTP"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NetworkState"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerifyPin"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Authentication"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>